.contact-us-content-container {
    min-height: 70vh;
}

.fit-container {
    min-height: 100%;
}

.contact-us-side-contents {
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
}

.contact-us-col {
    min-height: 70vh;
    padding: 0;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    max-width: 60%;
    justify-content: center;
}

.form-input {
    border-radius: 0;
}

.form-input:hover {
    border-bottom: 1px solid black;
}

.form-input:focus, .form-input:active {
    border: 1px solid black;
    box-shadow: none;
}

.contact-us-form-btn {
    align-self: flex-end;
    margin: 0;
}