.homepage-header {
    position: relative;
    top: 40px;
}

.nav-bar-header {
    display: grid;
    grid-template-columns: max-content 100%;
    grid-auto-flow: column;
    /* margin-top: 2em; */
}

.nav-btn-col {
    display: grid;
    justify-items: start;
}

.nav-bar-header-title{
    color: white;
    margin: 0;
    padding: 0;
    /* max-width: fit-content; */
    margin-right: 2em;
    font-family: 'Caveat', cursive;
    font-family: 'Manrope', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    justify-self: center;
}

.nav-bar-header-btn {
    background-color: inherit;
    border: none;
    justify-self: start;
    /* margin-left: 1em; */
    position: relative;
    left: 50%;
}

.nav-bar-header-btn * {
    height: 2rem;
    fill: white;
}

