.staff-icon {
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
    transition: all 0.5s ease;
}

.staff-icon-img {
    width: 160px; 
    height: 160px;
    border-radius: 50%;
    border: 8px solid white;
    text-align: center;
    align-self: center;
    transition: all 0.5s ease;
}

.staff-icon:hover, .staff-icon:hover .staff-icon-img {
    border-color: black;
    color: black;
}

.row-gap {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.row-gap-row {
    display: flex;
    flex-direction: row;
    row-gap: 1em;
}